@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

h1 {
  margin-top: 20px;
}

body {
  margin: auto;
  min-width: 360px;
  background-color: #D46A6A;
}

body._lock {
  overflow: hidden;
}

p {
  text-indent: 25px;
}

/* -- Navigation bar -- */
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 5em;
  width: 100%;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  background-color: #D46A6A;
}

.header_nav {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 5em;
  border-bottom: 3px solid #801515;
}

.menu_toogle {
  display: none;
}

.menu_icon {
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.header_nav > a:hover {
  text-decoration: underline;
  color: white;
}

.header_img {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.header_img > img {
  width: 750px;
  max-width: 100%;
  margin-top: 2.5em;
}

/* -- About master -- */
.about_me {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.about_me > h1 {
  font-family: Cormorant Garamond;
  font-size: 3em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.about_me > img {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
  margin: 0px 10px;
}

.about_me_text {
  margin: 1.875em 1.25em 1.25em;
}

.about_me_text > p {
  margin: 0px;
  text-align: justify;
  font-size: 1.125em;
  color: #414040;
  font-family: Cormorant Garamond;
}

p > a {
  text-decoration: none;
  color: #414040;
  font-family: Cormorant Garamond;
}

/* -- Massage type -- */
.massage_type {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.massage_type > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.massage_text {
  margin: 0.3125em 1.25em;
  text-align: justify;
}

.massage_text > p {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

p > strong {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

ul > li {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

li > strong {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

/* -- Price list -- */
.price_list {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.price_list > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.classic {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.375em;
  margin-bottom: 0.9375em;
}

table {
  border-collapse: collapse;
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
  max-width: 31.25em;
  width: 100%;
  margin: 0 0.9375em 0.9375em;
}

th {
  text-align: center;
}

.price_list > p {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
  margin: 0 1.125em;
  text-align: justify;
}

.price_list > img {
  margin: 1.25em;
  width: 640px;
  max-width: 100%;
}

/* -- Photos -- */
.photos {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.photos > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.swiper {
  width: 800px;
  max-width: 100%;
  height: 600px;
  z-index: 0;
}

.swiper-slide > img {
  width: 800px;
  max-width: 100%;
  height: 600px;
}

.swiper-button-prev {
  color: #FFCCB4;
}

.swiper-button-next {
  color: #FFCCB4;
}

/* -- Footer -- */
.contact_header {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.contact_header > h2 {
  font-size: 1.625em;
  color: #414040;
  font-family: Cormorant Garamond;
  text-align: center;
  max-width: 500px;
}

.contact {
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 2.5em 0;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon {
  display: flex;
  margin: 0.3125em;
  text-decoration: none;
  align-items: center;
  color: #414040;
}

/* -- Copyright -- */
hr {
  width: 1100px;
  border: 1px solid #414040;
}

.copyright {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.copyright > p {
  font-size: 0.875em;
  color: #414040;
  font-family: Cormorant Garamond;
}

/* -- Arrow top -- */
.arrow_top {
  display: inline-block;
  position: fixed;
  right: 1.25em;
  bottom: 2.8125em;
}

.arrow_top > img {
  width: 45px;
  height: 45px;
}

/* -- @media screen -- */
@media (max-width: 720px) {
  .menu_toogle {
    display: block;
    cursor: pointer;
  }
  .menu_toogle::before {
    position: absolute;
    content: url(img/header/list64.png);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    top: 0;
    left: 0;
    height: 5em;
    background-color: #D46A6A;
    border-bottom: 3px solid #801515;
  }
  .menu_toogle._active::after {
    position: absolute;
    content: url(img/header/cancel64.png);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    top: 0;
    left: 0;
    height: 5em;
    background-color: #D46A6A;
    border-bottom: 3px solid #801515;
    z-index: 4;
  }
  .header_nav {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5em 0 0 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header_nav._active {
    left: 0;
  }
  .menu_icon {
    color: white;
    padding: 10px;
  }
  .menu_icon:first-child {
    padding-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */