@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap");
body {
  margin: auto;
  min-width: 360px;
  background-color: #D46A6A;
}

p {
  text-indent: 25px;
}

/* -- Navigation bar -- */
.header {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.nav_bar {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.nav_bar > a {
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.header > img {
  width: 750px;
  max-width: 100%;
}

/* -- About master -- */
.about_me {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.about_me > h1 {
  font-family: Cormorant Garamond;
  font-size: 3em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.about_me > img {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
  margin: 0px 10px;
}

.about_me_text {
  margin: 1.875em 1.25em 1.25em;
}

.about_me_text > p {
  margin: 0px;
  text-align: justify;
  font-size: 1.125em;
  color: #414040;
  font-family: Cormorant Garamond;
}

p > a {
  text-decoration: none;
  color: #414040;
  font-family: Cormorant Garamond;
}

/* -- Massage type -- */
.massage_type {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.massage_type > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.massage_text {
  margin: 0.3125em 1.25em;
  text-align: justify;
}

.massage_text > p {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

p > strong {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

ul > li {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

li > strong {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
}

/* -- Price list -- */
.price_list {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.price_list > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.classic {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.375em;
  margin-bottom: 0.9375em;
}

table {
  border-collapse: collapse;
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
  max-width: 31.25em;
  width: 100%;
  margin: 0 0.9375em 0.9375em;
}

th {
  text-align: center;
}

.price_list > p {
  color: #414040;
  font-family: Cormorant Garamond;
  font-size: 1.125em;
  margin: 0 1.125em;
  text-align: justify;
}

.price_list > img {
  margin: 1.25em;
  width: 640px;
  max-width: 100%;
}

/* -- Photos -- */
.photos {
  max-width: 1100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.photos > h2 {
  font-size: 2em;
  color: #414040;
  font-family: Cormorant Garamond;
}

.swiper {
  width: 800px;
  max-width: 100%;
  height: 600px;
}

.swiper-slide > img {
  width: 800px;
  max-width: 100%;
  height: 600px;
}

.swiper-button-prev {
  color: #FFCCB4;
}

.swiper-button-next {
  color: #FFCCB4;
}

/* -- Footer -- */
#contacts > h2 {
  font-size: 1.625em;
  color: #414040;
  font-family: Cormorant Garamond;
  text-align: center;
}

.contact {
  border-top: 1px solid #414040;
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 50px 0;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon {
  display: flex;
  margin: 0.3125em;
  text-decoration: none;
  align-items: center;
  color: #414040;
}

/* -- Arrow top -- */
.arrow_top {
  display: inline-block;
  position: fixed;
  right: 1.25em;
  bottom: 2.8125em;
}

.arrow_top > img {
  width: 45px;
  height: 45px;
}/*# sourceMappingURL=style.css.map */