
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap');

@function pxToRem($to, $size: 16) {
    @return $to / $size + 0em;
  }

@mixin textColor() {
    color: #414040;
    font-family: Cormorant Garamond;
}

@mixin container() {
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
  
body {
    margin: auto;
    min-width: 360px;
    background: url(img/header/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);
}

p {
    text-indent: 25px;
}
.header {
    @include container();
}
.nav_bar {
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.nav_bar > a {
    text-decoration: none;
    font-size: pxToRem(22);
    padding: pxToRem(20);
    @include textColor();
}

.header > img {
    width: 750px;
    max-width: 100%;
}

// About me 
.about_me {
    @include container();
}

.about_me > h1 {
    font-family: Cormorant Garamond;
    font-size: pxToRem(48);
    @include textColor();
}

.about_me > img {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    margin: 0px 10px;
}

.about_me_text {
    margin: pxToRem(30) pxToRem(20) pxToRem(20);
}

.about_me_text > p {
    margin: 0px;
    text-align: justify;
    font-size: pxToRem(18);
    @include textColor();
}
p > a {
    text-decoration: none;
    @include textColor();
}

//massage type

.massage_type {
    @include container();
}

.massage_type > h2 {
    font-size: pxToRem(32);
    @include textColor();
}

.massage_text {
    margin: pxToRem(5) pxToRem(20);
    text-align: justify
}

.massage_text > p {
    @include textColor();
    font-size: pxToRem(18)
}
p > strong {
    @include textColor();
    font-size: pxToRem(18)
}

ul > li {
    @include textColor();
    font-size: pxToRem(18)
}

li > strong {
    @include textColor();
    font-size: pxToRem(18)
}
